.article h2 {
  font-size: x-large;
  text-decoration: underline;
  font-weight: bold;
  text-align: left;
}

.article h3 {
  font-size: large;
  text-decoration: underline;
  font-weight: bold;
  text-align: left;
}

.article {
  color: white;
  width: 100%;
}

.article p,
.article a {
  font-size: medium;
  text-align: left;
}

.article ol,
.article ul {
  list-style: normal;
}
