.article h1 {
  color: black;
  border-color: black;
}

.article h2 {
  font-size: x-large;
  text-decoration: underline;
  font-weight: bold;
  text-align: left;
}

.article h3 {
  font-size: large;
  text-decoration: underline;
  font-weight: bold;
  text-align: left;
}

.article {
  background-color: white;
  padding: 1rem;
  width: inherit;
}

.article p,
.article a,
.article li {
  color: black;
  font-size: medium;
  font-weight: normal;
  text-align: left;
  overflow-wrap: break-word;
}

.article ol {
  list-style: normal;
  font-size: medium;
}

.article ul {
  list-style: disc;
  font-size: medium;
}

.article ul > li,
.article ol > li {
  margin-left: 40px;
}

.article a:link {
  color: #0000ee;
  text-decoration: none;
}

.article a:visited {
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline;
}

.article a:active {
  text-decoration: underline;
}

.article img {
  width: 100%;
  height: auto;
  margin: 0.5rem;
}

.article blockquote > p,
.article blockquote > blockquote {
  font-size: medium;
  font-style: italic;
  font-weight: normal;
  text-align: left;
  overflow-wrap: break-word;
  border-left: 4px solid black;
  padding-left: 1rem;
  margin-left: 1rem;
}

.article table {
  border-collapse: collapse;
  width: 100%;
  margin: 0.5rem;
  overflow-x: auto;
}

.article pre:has(code) {
  display: block;
  overflow-x: auto;
  background-color: #f2f2f2;
  padding: 0.2rem;
  border-radius: 0.2rem;
  border: 1px solid #e2e2e2;
  margin: 0.2rem;
}

.article code {
  display: inline;
  font-size: medium;
  font-weight: normal;
  text-align: left;

  overflow-wrap: break-word;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 95%;
  }

  .article p,
  .article a,
  .article li,
  .article code {
    font-size: small !important;
  }

  h1 {
    font-size: x-large;
  }
  .article h2 {
    font-size: large;
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
  }

  .article h3 {
    font-size: medium;
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
  }
}
