@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto Slab", serif;
  --extra-large-content-size: 1150px;
  --large-content-size: 940px;
  --medium-content-size: 720px;
  --small-content-size: 540px;

  --rust-accent: rgb(255, 149, 0);

  --banner_notext: url("/img/rust-banner-notext.jpg");
  --banner: url("/img/rust-banner.jpg");
  --logo: url("/img/rust-logo.jpg");
  --icon: url("/img/favicon.ico");
}

.bg {
  background-image: var(--banner_notext);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  -webkit-filter: brightness(0.45);
  filter: brightness(0.45);
}

.content {
  min-height: calc(100vh - 128px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

h1 {
  color: var(--rust-accent);
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid var(--rust-accent);
  border-top: 1px solid var(--rust-accent);
  text-align: center;
}

h2 {
  font-size: x-large;
  text-decoration: underline;
  font-weight: bold;
  text-align: left;
  color: var(--rust-accent);
}

p {
  color: white;
  font-weight: 300;
  text-align: center;
  overflow-wrap: break-word;
}

.content section {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    var(--rust-accent),
    #228b22,
    #008000,
    var(--rust-accent),
    #4f7942,
    var(--rust-accent)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .content {
    width: 90%;
  }

  .content img {
    width: 200px;
  }

  h1 {
    font-size: 1.5rem;
    letter-spacing: 0.3em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  p {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.5rem;
    letter-spacing: 0.3em;
  }

  .content {
    width: var(--small-content-size);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .content {
    width: var(--medium-content-size);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0.3em;
  }

  p {
    font-size: 1rem;
  }

  .content {
    width: var(--large-content-size);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: 0.3em;
  }

  .content {
    width: var(--extra-large-content-size);
  }
}
